@font-face {
  font-family: Montserrat-Black;
  src: url('../fonts/montserrat/Montserrat-Black.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}


body
{
	background-color: #E6E6E6;
	font-family: "Montserrat-Medium" ;
}

footer
{
	text-align: center ;
}

footer table{
	margin: auto;
}

h1{
	font-family: "Montserrat-Black";
	text-align: center ;
}

.semiBold{
	font-family: "Montserrat-SemiBold";
}

#mainContainer
{
	width: 50%; 	/* largeur du bloc à 50% de la résolution de l'écran */
	margin: auto;   /* marge exterieure auto ie bloc centré */
	padding: 25px 5px 60px 5px ; /* marges intérieures : haut droite bas gauche */
	background-color: white;
}


