@font-face {
  font-family: "Montserrat-Black";
  src:  local("Georgia"),
  		url("../fonts/montserrat/Montserrat-Black.woff2") format('woff2'),
  		url("../fonts/montserrat/Montserrat-Black.woff") format('woff');
  	}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: 	url("../fonts/montserrat/Montserrat-Semibold.woff2") format('woff2'),
  		url("../fonts/montserrat/Montserrat-Semibold.woff") format('woff'); 
}

@font-face {
  font-family: "Montserrat-Medium";
  src:  local("Tahoma"),
  		url("../fonts/montserrat/Montserrat-Medium.ttf") format("opentype"),
  		url("../fonts/montserrat/Montserrat-Medium.woff2") format('woff2'),
  		url("../fonts/montserrat/Montserrat-Medium.woff") format('woff');

}


body
{
	background-color: #E6E6E6;
	font-family: "Montserrat-Medium";
}

footer
{
	text-align: center ;
}

footer table{
	margin: auto;
}

h1{
	font-family: "Montserrat-Black";
	text-align: center ;
}

.semiBold{
	font-family: "Montserrat-SemiBold";
}

.entry, select {
	background-color: #F7F7F7;
	padding: 15px;
	border: 1px solid #E6E6E6;
	border-radius:15px;
	margin: 10px 0px 15px 0px;
 }

 .labelChamp{
 	font-size: 11px;
 	font-weight: bold;
 }

#mainContainer{
	width: 50%; 	/* largeur du bloc à 50% de la résolution de l'écran */
	margin: auto;   /* marge exterieure auto ie bloc centré */
	padding: 20px 40px 60px 40px ; /* marges intérieures : haut droite bas gauche */
	background-color: white;
	border-radius: 10px;
}

input {
	border: hidden;
	background-color: #F7F7F7;
}

textarea {
	background-color: white;
	padding: 15px;
	border: none;
	margin: 10px 0px 15px 0px;
}

input::placeholder {
	font-size: 20px;
	font-family: Tahoma;
	color: #ACACAC;
}

 #fullNameEntry
 {
 	Line-Height: 22pt;
 	width: 100%;
 }

#champ_email, #champ_phone 
{	
	Line-Height: 22pt;
	display: inline-block;
	width:44%;
}


#champ_phone{
	float :right;
}

/* CA MARCHE PAS !!!!!!!!!! */
#champ_message{
	background-color: white;
	padding: 15px;
	border: 1px solid #E6E6E6;
	margin: 10px 0px 15px 0px;
	border-radius:15px;
}

.submitArea{
	border: none;
	padding: 15px 70px 15px 70px;
	background-color: #333333;
	color : white;
	border-radius: 20px;
	width : 100%;

	box-shadow: 0 200px 100px -100px #333333 inset; /* On joue sur l'ombre pour le dégradé au survol */
    transition: box-shadow 0.4s;
}

.submitArea:hover{
	background-color: #00AD5F;

	box-shadow: 0 200px 100px -100px #00AD5F inset;
}

